{{!-- The ...attributes syntax determines where the attributes from a tag should appear in the component's template --}}
<aside ...attributes>
    {{!-- The syntax {{@initial}} means that the contents inside the <div> tag are dynamic and will be specified by the <Avatar> tag. --}}
    <div class="avatar {{if @isActive "is-active"}}" title={{@title}}>{{@initial}}</div>
</aside>